 #title{
    background-color: pink;
 }

 #xd1 {
   color: blue;
   font-size: 5rem;
 }

 #xd2{
   background-color: pink;
   font-size: 3rem;
 }

 #xd3{
   background-color: rgb(0, 255, 174);
   font-size: 3rem;
   
 }

 #xd4{
   background-color: pink;
 }

 