.text0{
    background-color: yellow;
    color:red;
    text-align: center;
    
    
}

.text1{
    background-color: yellow;
    color:red;
    text-align: center;
}

.text2{
    background-color: yellow;
    color:red;
    text-align: center;
}